#activity-container {
    position: absolute;
    height: 600px;
    width: 800px;
}

#main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("bhavin_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#stretch1 {
    display: none;
}

#stretch2 {
    display: none;
}

#stretch3 {
    display: none;
}

#stretch4 {
    display: none;
}

#bhavin {
    display: none;
}
